.cards{
    display: grid;
    grid-template-columns: repeat(2, 400px);
  grid-auto-rows: 200px;
}
.cards p{padding-right: 15px;}
.h2{
    margin-bottom: 40px;
}

.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}
.img_romashka{
    height: 738px;
    width: 40%;
    object-fit: cover;
    border-radius: 16px;
}